fastapi
uvicorn[standard]
python-dotenv
pydantic
httpx
supabase
python-multipart
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
flask-jwt-extended==4.3.1
python-dotenv==0.19.2
werkzeug==2.0.3
transformers
gunicorn
flask-cors
starlette
